node_modules
npm-debug.log
package-lock.json

# Songs / hymns related
public/data/
public/js/index-page.js
public/js/song-page.js
public/songs.html
public/src/
scripts/
songs.db
songs.db.bak

# Uploads
uploads/

