:root {
  --primary-color: hsl(207, 88%, 20%);
  --secondary-color: hsl(207, 68%, 77%);
  --text-color: #333;
  --background-color: #FFF;
}
body{
    background: var(--secondary-color);
    overflow: scroll;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    max-width: 100svw;
}
body:hover{
    overflow: scroll;
    /* k  */
}
body::-webkit-scrollbar{
    display: none;
}
h1{
    text-shadow: 0 0 2px yellow;
}
.container{
    background: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.child{
    background: lightsalmon;
    color: orangered;
}
.btn{
    background: var(--primary-color);
    border-radius: 5px;
    float: left;
    bottom: 2px;
    padding: 5px;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px white,
    0 0 5px grey;
}
small{
    color: lightgray;
}
pre.txt{
    font-size: 1.5rem;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: fit-content;
    margin: 0 auto;
    max-width: calc(100% - 6px);
}
pre::-webkit-scrollbar{
    display: none;
}
.txt{
    font-size: 2rem;
}
.txt b{
    text-shadow: 0 0 5px rgb(0, 140, 255);
}
h1,h2,h3{
    color: var(--text-color);
    text-align: center;
    margin: 0 2px;
    padding: 0;
    line-height: 30px;
    height: 25px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 22px;
}
.footer{
    bottom: 5px;
    position: fixed;
    float: left;
}
.link{
    background: rgb(102, 45, 12);
    text-align: center;
    color: white;
	width: 95%;
	margin: 0 auto;
}
.an{
    width: 5%;
}
div{
    font-size: 1rem;
}
.inp{
    margin: 0 auto;
    width: 98%;
    position: sticky;
    display: flex;
    background: whitesmoke;
    top: 0;
    box-sizing: border-box;
    border-radius: 50px;
    border: 5px solid rgb(243, 160, 160);
}
.slid{
    width: 50%;
    position: fixed;
    bottom: 20px;
    right: 2px;
}
#siz::before{
    content: 'Small';
    color: black;
    top: 80%;
    position: absolute;
}
#siz::after{
    content: 'Large';
    color: black;
    top: 80%;
    left: 80%;
    position: absolute;
}
#siz{
    width: 90%;
    -webkit-appearance: none;
    height: 3px;
    background: linear-gradient(90deg, blue, pink, blue);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    box-shadow: 0px 1px 10px 1px rgb(97, 100, 238);
}
#siz::-webkit-slider-thumb{
     -webkit-appearance: none;
     appearance: none;
     width: 10px;
     height: 10px;
     background: orangered;
     border-radius: 50%;
}
.magr{
	top: 50%;
	left: 50%;
	position:fixed;
}
.magl{
    top: 40%;
    left: 50%;
    position: fixed;
}
.check{
    top: 60%;
    left: 50%;
    position: fixed;
}

.disappear, .magr, .magl{
    display: none;
}
.shareD{
    display: block;
    border-radius: 5px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
.shareD button{
    background: hsl(207, 88%, 20%);
    padding: 6px;
    border-radius: 2px;
    color: white;
    border: none;
    margin: 0 auto 10px auto;
    box-shadow: 0 0 5px 2px black;

}

summary{
    box-sizing: border-box;
    text-align: left;
    background: var(--primary-color);
    border-radius: 2px;
    padding: 5px;
    color: var(--background-color);
}
details{
    box-shadow: 0 0 5px 2px rgb(136, 136, 136);
    border: 5px hsl(207, 88%, 20%) solid;
    background: var(--secondary-color);
}
.song-h{
    background: white;
    margin: 0 auto;
    max-width: calc(100% - 10px);
    color: var(--secondary-color);
    box-shadow: 0 0 10px 0 rgb(50, 50, 252);
    min-width: fit-content;
    height: fit-content;
}
@media (max-width: 520px) {
    h1 {
      font-size: 20px; /* Adjust the font size as desired */
    }
  
    h2 {
      font-size: 16px; /* Adjust the font size as desired */
    }
  
    h3 {
      font-size: 14px; /* Adjust the font size as desired */
    }
  }
  