:root {
    --primary-color: hsl(207, 88%, 20%);
    --secondary-color: hsl(26, 100%, 99%);
    --text-color: #333;
    --background-color: #FFF;
  }
  .mememe{
    background: hsl(15, 29%, 81%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
  }
body{
    background: var(--secondary-color);
    overflow: scroll;
    padding: 0;
    user-select: none; 
    -moz-user-select: none;
    -webkit-user-select: none;
}
body:hover{
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
.container{
    background: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
.child{
    background: rgb(7, 9, 114);
    color: orangered;
}
.tittle, .tittle-1{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 5px;
    overflow: hidden;
    margin: 5px 0;
	border-radius: 1px;
    background: white;
    box-sizing: border-box;
    border-radius: 5px;
    top: 2px;
    position: sticky;
}
.tittle{
    box-shadow: 0 0 2px 2px darkgray;
}
.tittle-1{
    box-shadow: 0 0 5px 5px darkgray;
}
.No{
    width: 15%;
}
.song{
    width: 45%;
}
.sign{
    width: 10%;
}
a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    margin: 0 auto;
    align-items: center;
}
.tittle:hover{
    background: rgba(135, 104, 245, 0.171);
}
#txt{
    margin: auto;
    width: fit-content;
}
.btn{
    background: rgb(2, 3, 66);
    border-radius: 5px;
    color: white;
    float: left;
    bottom: 2px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}
small{
    color: lightgray;
}

pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

pre::-webkit-scrollbar{
    display: none;
}
.hymn{
    overflow: scroll;
    width: 100%;
    padding: 1px;
}
.hymn:hover{
    overflow: auto;
}
.hymn::-webkit-scrollbar{
    display: none;
}
.warn{
	width: 100%;
    text-align: center;
    background: rgb(250, 192, 158);
	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	margin: 0 auto;
}
h1,h2{
    color: white;
    text-align: center;
}
.footer{
    bottom: 5px;
    position: fixed;
    float: left;
}
.warning{
    text-align: center;
}
p{
    color: orangered;
    word-wrap: normal;
    text-align: center;
    padding: 0;
}
.link{
    background: rgb(102, 45, 12);
    text-align: center;
    color: white;
	width: 95%;
	margin: 0 auto;
}
.an{
    width: 5%;
}
/* Start of the tittle  */

/* Tittle and search */
.inp{
    width: 100%;
    top: 0;
    position: sticky;

}
.inp div{
    margin: auto;
    width: 90%;
    text-align: center;
}
.inp div #ser{
    width: 100%;
    border-radius: 5px;
    min-height: 20px;
    margin-bottom: 10px;
}

div{
    font-size: 1rem;
}

.slid{
    width: 50%;
    position: fixed;
    bottom: 20px;
    right: 0;
}
#siz::before{
    content: 'Small';
    color: black;
    top: 80%;
    position: absolute;
}
#siz::after{
    content: 'Large';
    color: black;
    top: 80%;
    left: 80%;
    position: absolute;
}
#siz{
    width: 90%;
    -webkit-appearance: none;
    height: 3px;
    background: linear-gradient(90deg, green, yellow, red);
}
/* #siz{
    width: 90%;
    -webkit-appearance: none;
    height: 3px;
    background: linear-gradient(90deg, blue, green,yellow, red);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 50%;
    box-shadow: 0px 1px 10px 1px orangered;
} */
#siz::-webkit-slider-thumb{
     -webkit-appearance: none;
     appearance: none;
     width: 10px;
     height: 10px;
     background: orangered;
     border-radius: 50%;
}

/*HYmn menu section starts here*/
.calc{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background: peachpuff;
    height: 100vh;
    box-sizing: border-box;
    border-top: 5px peachpuff solid;
}
.calc .form{
    width: 90%;
    text-align: center;
    margin: auto;
    height: 20%;
}
.calc .form .txtview{
    overflow: hidden;
    margin: auto;
    height: 50%;
    width: 100%;
    font-size: large;
    background: wheat;
    box-sizing: border-box;
    border: goldenrod 2px solid;
    border-radius: 20px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
.calc .form .input{
    height: 50%;
    font-size: x-large;
    box-sizing: border-box;
    border-top: 5px peachpuff solid;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
.calc .form .input #num{
    text-align: center;
    height: 50%;
    width: 100%;
    border-radius: 30px;
    user-select: none;
}
.txtview p{
    font-size: large;
}
.calc table{
    width: 80%;
    text-align: center;
    margin: auto;
    height: 78%;
    max-height: 80%;
}
.calc table tr{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    height: 20%;
}
.calc table td{
    flex: 1;
    height: 100%;
}
.calc table  td .btni{
    width: 100%;
    background: rgb(66, 66, 224);
    height: 100%;
    box-sizing: border-box;
    font-size: x-large;
    border-radius: 10px;
    border:10px navy rgba(red, green, blue, 1) solid;
}
.calc table td:hover .btni{
    background: white;
    box-sizing: border-box;
    border:2px rgb(34, 158, 230) solid;
}
.calc table td a, .a{
    font-family: cursive;
    display: block;
    width: 100%;
    color: black;
    background: chocolate;
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    border: 10px pink solid;
}
.calc table td:hover a,.calc table td:hover .a{
    background: peachpuff;
}
.inp button{
    background: chocolate;
    border-radius: 5px;
}
.inp button:hover{
    background: peachpuff;
}
.terms{
    text-align: center;
}
.links{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
}
.links ul{
    list-style: none;
    margin: o;
    padding: 0;
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.links ul li{
    flex: 1;
    text-align: center;
}
.links ul li:hover a, .links ul li:hover .fab{
    color: bisque;
    background: black;
}
/** alert box **/
#alert_container{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.magr{
	top: 50%;
	left: 50%;
	position:fixed;
}
.magl{
    top: 40%;
    left: 50%;
    position: fixed;
}
.check{
    top: 60%;
    left: 50%;
    position: fixed;
}

.disappear, .magr, .magl{
    display: none;
}
.btn_cont{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    display: block;
}
.stop, .play, .share, .err, .next, .prev, .lang{
    margin-top: 2px;
    margin-left: 5px;
    background: rgb(2, 3, 66);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
pre b{
    text-shadow: 0 0 1px blue;
}
.stop:hover, .play:hover, .share:hover, .err:hover{
    animation: press_key 0.2s linear;
}
@keyframes press_key
{
    0%,100%{
        background: rgb(2, 3, 66);
        color: chocolate;
    }
    50%{
        background: var(--secondary-color);
        color: black;
    }

}
.btmm{
    position: fixed;
    top: calc(100% - (100% - 10px));
    right: 0;
    display: block;
}
.btmm button{
    width: 60px;
    height: 60px;
    border-radius: 50% 0 0 50%;
    color: black;
    background: var(--secondary-color);
    overflow: hidden;
    border: 2px rgba(0, 0, 0, 0) solid;
}.instruction{
    width: 90%;
    margin: 0 auto;
}
.instruction img{
    max-width: 100%;
}
.contMain{
    width: calc((6/7) * 100%);
}
.btncn{
    max-width: 350px;
    min-width: 200px;
    margin: 0 auto;
}
.btncn a{
    background: hsl(207, 88%, 20%);
    color: white;
    padding: 10px;
}
.btncn h2,.btncn p{
    color: hsl(207, 88%, 20%);
}
.btncn details{
    padding: 0;
    color: white;padding: 10px;
    border: hsl(207, 88%, 20%) 2px solid;
}
.btncn summary{
    background: hsl(207, 88%, 20%);
    padding: 10px;
}
.btncn button{
    padding: 5px;
    background-color:hsla(0, 100%, 100%, 0.87);
    color:  #06375b;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}.btmm{
    position: fixed;
    top: calc(100% - (100% - 30px));
    left: calc(100% - 60px);
    display: block;
}
.btmm button{
    width: 60px;
    height: 60px;
    border-radius: 50% 0 0 50%;
    color: blueviolet;
    background: var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 0 5px 2px black;
    border: 2px rgba(0, 0, 0, 0) solid;
}
.sdaL{
    background: hsl(207, 88%, 20%);
    position: fixed;
    right: 0;
    top: 0;
    width: calc((1/7) * 100%);
    height: 100%;
    border-left: 5px hsl(26, 100%, 99%) solid;
}
.sdaL img{
    display: block;
    width: calc(100% - 10px);
    position: absolute;
    left: 5px;
    bottom: 40px;
}

#install-message {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  #install-message.show {
    opacity: 1;
  }

  #file-message {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  #overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.185);
  }

  .div1 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5px;
    max-height: 90%;
    overflow: auto;
    width: calc(100% - 20px);
    max-width: 350px;
    box-shadow: 0 0 10px 1px black;
  }

  .div1 button {
    display: block;
    padding: 10px;
    margin: 5px auto;
  }

  #ins {
    display: none;
    margin: 5px auto;
    padding: 10px;
  }

  #spin {
    display: none;
    margin: 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Custom player style */
#section3 midi-player {
display: block;
width: inherit;
margin: 4px;
margin-bottom: 0;
}
#section3 midi-player::part(control-panel) {
background: #ff5;
border: 2px solid #000;
border-radius: 10px 10px 0 0;
}
#section3 midi-player::part(play-button) {
color: #353;
border: 2px solid currentColor;
background-color: #4d4;
border-radius: 20px;
transition: all 0.2s;
content: 'hello';
}
#section3 midi-player::part(play-button):hover {
color: #0a0;
background-color: #5f5;
border-radius: 10px;
}
#section3 midi-player::part(time) {
font-family: monospace;
}

/* Custom visualizer style */
#section3 midi-visualizer .piano-roll-visualizer {
background: #ffd;
border: 2px solid black;
border-top: none;
border-radius: 0 0 10px 10px;
margin: 4px;
margin-top: 0;
overflow: auto;
}
#section3 midi-visualizer svg rect.note {
opacity: 0.6;
stroke-width: 2;
}
#section3 midi-visualizer svg rect.note[data-instrument="0"]{
fill: #e22;
stroke: #500;
}
#section3 midi-visualizer svg rect.note[data-instrument="2"]{
fill: #2ee;
stroke: #055;
}
#section3 midi-visualizer svg rect.note[data-is-drum="true"]{
fill: #888;
stroke: #888;
}
#section3 midi-visualizer svg rect.note.active {
opacity: 0.9;
stroke: #000;
}
.hiden-1, .hiden-2, .hiden-3{
    display: none;
}

.btn_cont{
    top: 65px;
    position: -webkit-sticky;
    position: sticky;
    margin: 5px auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  .spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.hide-div{
    display: none;
}