<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	
    <meta property="og:title" content="New Luganda Hymnal">
    <meta property="og:description" content="Download New Luganda Hymnal here">
    <meta property="og:image" content="https://newlugandahymnal.onrender.com/src/images/app.png">
    <meta property="og:url" content="https://newlugandahymnal.onrender.com/download.html">
	
    <title>Ennyimba Za Kristo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        #imagePreview img{
            max-width: 200px;
        }
        #imagePreview{
            min-height: 100px;
        }
        #overl{
          background: rgba(0, 0, 0, 0.164);
          position: fixed;
          width: 100%;
          height: 100%;
        }
        .inf{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          padding: 5px;
          background: white;
          box-shadow: 0 0 2px 2px darkgrey;
          border-radius: 5px;
          max-width: 300px;
          text-align: center;
        }
    </style>
</head>
<body>
        <% if (typeof message !== 'undefined') { %>
          <div id="overl">
            <div class="inf">
              <p><%= message %></p>
              <button class="btn btn-primary" onclick="document.getElementById('overl').remove()">Ok</button>
              <% if (typeof login !== 'undefined') { %>
               <a href="/login" class="btn btn-primary">Login</a>
              <% } %>
            </div>
          </div>
        <% } %>
    <div class="container">
        <br>
        <h2>Register</h2>
        <br>
         
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="name" name="fullName" required>
            </div>
            <div class="mb-3">
              <label for="userName" class="form-label">User Name</label>
              <div id="emailHelp" class="form-text">This is the unique name which distinguishes you from others.</div>
              <input type="text" class="form-control" id="userName" name="userName" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" onchange="checkpass()" name="password" required>
            </div>
            <div class="mb-3">
              <label for="ppassword" class="form-label">Confirm Password</label>
              <input type="password"  class="form-control" id="ppassword" onchange="checkpass()" required>
              <p id="p"></p>
            </div>
            <div class="mb-3">
              <label for="profile" class="form-label">Profile Image</label>
              <input type="text" class="form-control" id="profile" name="profile" required disabled>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image (jpeg, jpg, png)</label>
              <div id="imagePreview" class="form-control">image preview here</div> <!-- Image preview container -->
              <input name="image" class="form-control" type="file" id="image" accept="image/jpeg, image/jpg, image/png" onchange="previewImage(event)" required>
            </div>
            <input type="submit" value="Register" class="btn btn-primary" id="btn-s">
          </form>
          
    </div>
    <script src="https://kit.fontawesome.com/1698889877.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    
          
    <script>
        function previewImage(event) {
          const input = event.target;
          const imagePreview = document.getElementById("imagePreview");
          const prof = document.getElementById('profile');
      
          if (input.files && input.files[0]) {
            const reader = new FileReader();
      
            reader.onload = function (e) {
              const imageElement = document.createElement("img");
              imageElement.setAttribute("src", e.target.result);
              imageElement.setAttribute("class", "preview-image");
              imagePreview.innerHTML = ""; // Clear previous preview
              imagePreview.appendChild(imageElement);

              prof.value = input.files[0].name;
            };
      
            reader.readAsDataURL(input.files[0]);
          } else {
            imagePreview.innerHTML = ""; // Clear preview if no file selected
            prof.value = "";
          }
        }
        function checkpass(){
          var pass = document.getElementById('password');
          var pass1 = document.getElementById('ppassword');
          var p = document.getElementById('p');
          var b = document.getElementById('btn-s');

          if(pass.value == pass1.value){
            p.className = "text-success"
            b.disabled = false;
            p.innerText = "You have confirmed your password successfully";
          }
          else{
            p.className = "text-danger"
            p.innerText = "Passwords dont match";
            b.disabled = true;
          }
        }
      </script>
      
</body>
</html>
